{% extends 'base.html.twig' %}

{% block title %}Hello ImportController!{% endblock %}

{% block body %}
    <h1>Import du fichier table</h1>
    <a href="{{ path('app_import_table_download') }}">Télécharger le modèle du fichier CSV ?</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}