{% extends "base.html.twig" %}
{% block title %}
	Modifier
{% endblock %}
{% block body %}
    <div class="card shadow shadow-5">
        <div class="card-header">
            <h2>Modification de {{table.tableName}}</h2>
        </div>
        <div class="card-body">
            {{form_start(form)}}
                <div class="row">
                    <div class="col-1 offset-11">
                        {{form_row(form.submit)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>Table</h3>
                            </div>
                            <div class="card-body">
                                {{ form_row(form.comment) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>Colonnes</h3>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for column in form.columns %}
                                        <li class="list-group-item">
                                            <h4>{{column.vars.value.columnName}}</h4>
                                            {{form_widget(column)}}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {{form_end(form)}}

        </div>
    </div>
{% endblock %}