{% extends 'base.html.twig' %}

{% block title %}Liste des tables
{% endblock %}

{% block body %}
	{{form_start(searchTableForm)}}
		<div class="row row-cols mt-3">
			<div class="col-4">
			    <div class="input-group h-100">
					<div class="input-group-text">Référentiel</div>
					{{form_widget(searchTableForm.owners)}}
				</div>
			</div>
			<div class="col-4">
				<div class="input-group mb-3 h-100">
					{# {{form_label(searchTableForm.user_query) }} #}
					<div class="input-group-text">Recherche</div>
					{{form_widget(searchTableForm.user_query)}}
					{{form_widget(searchTableForm.submit)}}
				</div>
			</div>
		</div>
	{{form_end(searchTableForm)}}
	<table class="table">
		<thead>
			<tr>
				<th scope="col-1">#</th>
				<th scope="col-1">Nom</th>
				<th scope="col-1">Référentiel</th>
				<th scope="col-1">Fichier</th>
				<th scope="col-1">Nb Lignes</th>
				<th scope="col-1">Nb Utilisation</th>
				<th scope="col-1">Nb Dépendances</th>
				<th scope="col-1">Vue ?</th>
			</tr>
		</thead>
		<tbody>
        {% for table in tables %}
			<tr class="{{table.tableType == "V" ? "table-info":""}}">
				<td>{{table.id}}</td>
				<td>
                    <a href="{{path("app_table_show",{"id":table.id})}}" class="link-body-emphasis text-decoration-none ">{{table.tableName}}</a>
                </td>
				<td>{{table.owner}}</td>
				<td>{{table.dbFileName}}</td>
				<td>{{table.numberRows}}</td>
				<td>{{table.dependencies|length}}</td>
				<td>{{table.dependOns|length}}</td>
				<td>{{table.tableType == "V" ? "Oui":""}}</td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
	
{% endblock %}
