{% extends 'base.html.twig' %}

{% block title %}Liste des tables
{% endblock %}

{% block body %}
	{{form_start(searchTableForm)}}
	{{form_end(searchTableForm)}}
    {# <pre>
        {{ dump(tables) }}
    </pre> #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Référentiel</th>
				<th scope="col">Fichier</th>
				<th scope="col">Nb Lignes</th>
				<th scope="col">Nb Colonnes</th>
				<th scope="col">Nb Indexes</th>
				<th scope="col">Nb Utilisation</th>
				<th scope="col">Nb Dépendances</th>
				<th scope="col">Vue ?</th>
			</tr>
		</thead>
		<tbody>
        {% for table in tables %}
			<tr class="{{table.tableType == "V" ? "table-info":""}}">
				<td>{{table.id}}</td>
				<td>
                    <a href="{{path("app_table_show",{"id":table.id})}}" class="link-body-emphasis text-decoration-none ">{{table.tableName}}</a>
                </td>
				<td>{{table.owner}}</td>
				<td>{{table.dbFileName}}</td>
				<td>{{table.numberRows}}</td>
				<td>{{table.columns|length}}</td>
				<td>{{table.indexes|length}}</td>
				<td>{{table.dependencies|length}}</td>
				<td>{{table.dependOns|length}}</td>
				<td>{{table.tableType == "V" ? "Oui":""}}</td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
	
{% endblock %}
